/* reset css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* variable */
:root{
    --blue: #0065FC;
    --back: #DEEBFF;
    --margin: 20px 8px;
}
/*body*/
body{
    min-width: 262px;
    font-family: Raleway, sans-serif;
}
/*page*/
.page{
    margin: var(--margin);
}
/*header*/
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.logo{
    order: 1;
    flex: 50%;
}
.hebergement{
    order: 3;
    flex: 50%;
}
.hebergement :hover, .activite :hover{
    border-bottom: 2px solid var(--blue);
}
.activite{
    order: 4;
    flex: 50%;
}
.inscription{
    order: 2;
    flex: 50%;
    text-align: end;
}

.inscription a{
    text-decoration: none;
    color: var(--blue);
    border: none;
    margin-right: 10px;
}
.hebergement, .activite, nav a{
    text-decoration: none;
    color: black;
    margin: 10px 0;
}
.hebergement, .activite{
    border-bottom: 2px solid var(--back);
    text-align: center;
}

/*section*/
section{
    margin-bottom: 10px;
}
h1{
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}
h2{
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 10px;
}
span{
    font-size: 0.8em;
}
/*barre de recherche*/
.recherche{
    display: flex;
    border: 2px solid gray;
    border-right-color: var(--blue);
    border-radius: 8px;
    margin-bottom: 10px;
}
.fa-search{
    color: white;
    background-color: var(--blue);
    padding: 0;
    margin: 0;
}
.map{
    display: flex;
    border: 2px solid transparent;
    background-color: rgba(211, 211, 211, 0.801);
    padding: 0;
    margin: 0;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    flex: 10%;
    justify-content: center;
    align-items: center;
}
.barreDeRecherche{
    height:30px;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    border-left: none;
    border-right: none;
}
.searchBar{
    flex: 80%;
}
.search{
    background-color: var(--blue);
    border: 2px solid transparent;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    flex: 10%;
}
/*footer*/
.footer{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--back);
    padding: 20px;
}
.aPropos a, .nosHebergements a, .assistance a{
    display: flex;
    text-decoration: none;
    color: black;
    margin-bottom: 10px;
}
h4{
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 10px;
}
.aPropos a:hover, .nosHebergements a:hover, .assistance a:hover{
    color: var(--blue);
}
