/*var*/
:root{
    --blue: #0065FC;
    --back: #DEEBFF;
}

body{
    font-family: 'Raleway', sans-serif;
    margin: 0;
}
/* font awsome */
.fas{
    color: var(--blue);
    border: 6px solid transparent;
    border-radius: 50%;
    background-color: var(--back);
    border-collapse: collapse;
}
.fa-info{
    border: 2px solid var(--back);
    border-radius: 50%;
    background-color: white;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 4px;
    padding-bottom: 4px;
}
.fa-star{
    background-color: unset;
}

/*links*/
a{
    text-decoration: none;
    color: black;  
}
a:hover{
    color: var(--blue);
}
#hotel a > img{
    height: 150px;
    border-radius: 12px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#populaire a > img{
    height: 150px;
    border-radius: 12px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

/*button*/
button{
    background-color: white;
    border: 1px solid var(--back);
    border-radius: 12px;
    padding-left: 0;
}
button:hover{
    background-color: var(--back);
}
/*header*/
header{
    display: flex;
    flex-direction: row;
}

/*hebergement*/
#hebergement{
    display: flex;
}

/*populaire*/
#populaire{
    background-color: var(--back);
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-evenly;
    border-radius: 12px;
    margin: 50px;
}

#pop{
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 5px;
}

/*hotel*/
#hotel{
    background-color: var(--back);
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    justify-items: center;
    flex-wrap: wrap;
    border-radius: 12px;
}

/*capsules*/
#hotel > .capsule{
    padding: 2px;
    border: 2px solid white;
    border-radius: 12px;
    background-color: white;
    margin: 10px;
    text-align: center;
}

#populaire > .capsule{
    padding: 2px;
    border: 2px solid white;
    border-radius: 12px;
    background-color: white;
    margin: 10px;
    text-align: center;
}

/*footer*/
footer > .flex-container{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--back);
    padding: 20px;
}

/*media query */